.movies {
    padding: 0;
}

.movies li {
    cursor: pointer;
    list-style-type: none;
    border: 1px solid black;
    padding: 5px;
}

.movies li:hover {
    color: #ffffff;
    background-color: grey;
}